{ config, pkgs, ... }:

{
  boot.supportedFilesystems = [ "zfs" ];

  boot.kernelPackages = config.boot.zfs.package.latestCompatibleLinuxPackages;

  boot.loader.efi.canTouchEfiVariables = true;
  boot.loader.generationsDir.copyKernels = true;

  boot.loader.grub.enable = true;
  boot.loader.grub.efiSupport = true;

  boot.loader.grub.device = "nodev";
  boot.loader.grub.mirroredBoots = [
  {% set devices = NIX_GRUB_DEVICES.split() %}
  {% set paths = ["boot", "boot-fallback"] %}
  {% for device in devices %}
    {
      devices = [ "{{ device }}" ];
      path = "/{{ paths[loop.index0] }}";
      efiBootloaderId = "NixOS-{{ paths[loop.index0] }}";
    }
  {% endfor %}
  ];
}
