{ config, pkgs, ... }:

{
  boot.supportedFilesystems = [ "zfs" ];
  networking.hostId = "{{ NIX_HOSTID }}";
  boot.kernelPackages = config.boot.zfs.package.latestCompatibleLinuxPackages;

  boot.loader.efi.canTouchEfiVariables = false;
  boot.loader.generationsDir.copyKernels = true;

  boot.loader.grub.enable = true;
  boot.loader.grub.efiSupport = true;

  boot.loader.grub.mirroredBoots = [
  {% set devices = NIX_GRUB_DEVICES.split() %}
  {% set paths = ["/boot", "/boot-fallback"] %}
  {% for device in devices %}
    {
      devices = [ "{{ device }}" ];
      path = "{{ paths[loop.index0] }}";
    }
  {% endfor %}
  ];

  users.users.root.initialHashedPassword = "{{ NIX_HASHED_PASSWORD }}";
}
